logging:
  level:
    org.springframework.security: DEBUG

server:
  port: 8081

spring:
  application:
    name: auth-core

  datasource:
    driver-class-name: org.mariadb.jdbc.Driver
    url: jdbc:mariadb://localhost:3306/ticket
    username: admin #taylee
    password: new1234!
#    hikari:
#      maximum-pool-size: 100
#      connection-timeout: 5000
#      validation-timeout: 4000
#      max-lifetime: 600000
#    type: com.zaxxer.hikari.HikariDataSource

  jpa:
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.MariaDBDialect
        default_batch_fetch_size: 100
#    open-in-view: false
    hibernate:
#      naming-strategy: org.hibernate.cfg.EJB3NamingStrategy
#      naming:
#        implicit-strategy: org.springframework.boot.orm.jpa.hibernate.SpringImplicitNamingStrategy
#        physical-strategy: com.manage.apigw.mngtapi.common.config.NamingStrategy #??? naming ??? ???? ??
      ddl-auto: none

jwt:
  secret: your-256-bit-secret-your-256-bit-secret-your-256-bit-secret
  expiration-ms: 3600000